name: CI

on:
  push:
    branches: ["*"]
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
      # Using npm install instead of npm ci
        run: npm install

      - name: Run tests
        run: npm test
